// WXS中函数传入的参数最好都判断一下是否存在，否者页面可能崩溃！！
// 获取最大值
var getMax = function (array) {
    var max = undefined;
    for (var i = 0; i < array.length; ++i) {
        max = max === undefined ?
            array[i] :
            (max >= array[i] ? max : array[i]);
    }
    return max;
}
// 计算当天结余
var calcBalance = function (array) {
    var count = 0;
    for (var i = 0; i < array.length; i++) {
        if (array[i].expense) {
            count -= array[i].money;
        } else {
            count += array[i].money;
        }
    }
    return count > 0 ? '+' + count.toFixed(2) : count.toFixed(2);
}


var allList, expenseList, incomeList;

// 计算本月结余
var calcMonthlyBalance = function (dataList, index) {
    allList = __filterData(dataList, 0);
    expenseList = __filterData(dataList, 1);
    incomeList = __filterData(dataList, 2);
    var count1 = 0;
    var count2 = 0;
    var count0 = 0;
    if (expenseList) {
        for (var i = 0; i < expenseList.length; i++) {
            for (var j = 0; j < expenseList[i].length; j++) {
                // if (!expenseList[i][j].is_deleted) {
                    count1 += expenseList[i][j].money;
                // }
            }
        }
    }
    if (incomeList) {
        for (var i = 0; i < incomeList.length; i++) {
            for (var j = 0; j < incomeList[i].length; j++) {
                // if (!expenseList[i][j].is_deleted) {
                    count2 += incomeList[i][j].money;
                // }
            }
        }
    }
    if (index == 0) {
        count0 = count2 - count1;
        return count0.toFixed(2);
    } else if (index == 1) {
        return count1.toFixed(2);
    } else {
        return count2.toFixed(2);
    }
}
// 格式化金额
var formatMoney = function (money, bool) {
    if (bool) {
        return '+' + money.toFixed(2);
    } else {
        return '-' + money.toFixed(2);
    }
}

// 过滤显示的数据：全部、支出、收入
var __filterData = function (_dataList, index) {
    var dataList = [];
    if (index == 0) {
        dataList = _dataList;
    } else if (index == 1) {
        for (var i = 0; i < _dataList.length; i++) {
            if (!dataList[i]) {
                dataList[i] = [];
            }
            var _arr = _dataList[i];
            for (var j = 0; j < _arr.length; j++) {
                if (_arr[j].expense) {
                    dataList[i].push(_arr[j]);
                }
            }
        }
    } else {
        for (var i = 0; i < _dataList.length; i++) {
            if (!dataList[i]) {
                dataList[i] = [];
            }
            var _arr = _dataList[i];
            for (var j = 0; j < _arr.length; j++) {
                if (!_arr[j].expense) {
                    dataList[i].push(_arr[j]);
                }
            }
        }
    }

    return dataList;
}


// 过滤显示的数据：全部、支出、收入
var filterData = function (index) {
    if (index == 0) {
        return allList;
    } else if (index == 1) {
        return expenseList;
    } else if (index == 2) {
        return incomeList;
    }
}
// 日期格式化
var formatDate = function (dateStr, str) {
    return dateStr.slice(0, 4) + str + dateStr.slice(4, 6) + str + dateStr.slice(6, 8);
}

// 计算百分比
var calcPercent = function (parent, son) {
  var p = parseFloat(parent);
  var s =  parseFloat(son);
  var ret = (100 * s / p).toFixed(2) + '%';
  return ret;
}


// 数组排序
module.exports = {
    getMax: getMax,
    calcBalance: calcBalance,
    formatMoney: formatMoney,
    calcMonthlyBalance: calcMonthlyBalance,
    filterData: filterData,
    formatDate: formatDate,
    calcPercent: calcPercent
}