// 格式化周期
var formatedGap = function(record) {
  var gap = record.recordGap;
  switch (gap) {
    case 1:
      return '每天';
      break;
    case 2:
      return '每周';
      break;
    case 3:
      return '每月';
      break;
    case 4:
      return '每季度';
      break;
    case 5:
      return '每年';
      break;
  }
}

var formatedMoney = function (record) {
  if (!record.expense) {
    return '-' + record.money.toFixed(2);
  } else {
    return '+' + record.money.toFixed(2);
  }
}

module.exports = {
  formatedGap: formatedGap,
  formatedMoney: formatedMoney
}